<template>
  <div class="container mx-auto">
    <div class="mt-8 mx-6">
      <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900">
                User Information
              </h3>
            </div>
            <button
              type="button"
              class="
                inline-flex
                justify-center
                mt-2
                py-2
                px-4
                border border-transparent
                shadow-sm
                text-sm
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
              @click="cancelForm()"
            >
              Back To User List
            </button>
            <form @submit.prevent="createNewUser()">
              <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-9">
                      <label
                        for="first-name"
                        class="block text-sm font-medium text-gray-700"
                        >First name</label
                      >
                      <input
                        type="text"
                        name="first-name"
                        v-model="$v.userModel.name.$model"
                        id="first-name"
                        autocomplete="given-name"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                      <p
                        class="text-red-500"
                        v-if="
                          $v.userModel.name.$dirty &&
                          !$v.userModel.name.required
                        "
                      >
                        This field is required
                      </p>
                    </div>

                    <div class="col-span-9">
                      <label
                        for="email-address"
                        class="block text-sm font-medium text-gray-700"
                        >Email</label
                      >
                      <input
                        type="text"
                        name="email-address"
                        v-model="$v.userModel.logonId.$model"
                        id="email-address"
                        autocomplete="email"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                      <p
                        class="text-red-500"
                        v-if="
                          $v.userModel.logonId.$dirty &&
                          !$v.userModel.logonId.required
                        "
                      >
                        This field is required
                      </p>
                    </div>

                    <div class="col-span-9">
                      <label
                        for="password"
                        class="block text-sm font-medium text-gray-700"
                        >Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        v-model="$v.userModel.password.$model"
                        id="password"
                        autocomplete="password"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                      <p
                        class="text-red-500"
                        v-if="
                          $v.userModel.password.$dirty &&
                          !$v.userModel.password.required
                        "
                      >
                        This field is required
                      </p>
                    </div>
                    <div class="col-span-9">
                      <label
                        for="role"
                        class="block text-sm font-medium text-gray-700"
                        >Role</label
                      >
                      <input
                        type="text"
                        name="role"
                        v-model="userModel.role"
                        id="role"
                        autocomplete="family-name"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                    </div>
                    <div class="col-span-9">
                      <label
                        for="user-skill"
                        class="block text-sm font-medium text-gray-700"
                        >UserSkills</label
                      >
                      <!-- <input
                        type="text"
                        name="user-skill"
                        v-model="userModel.userSkills"
                        id="user-skill"
                        autocomplete="given-name"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      /> -->
                      <Dropdown></Dropdown>
                    </div>
                  </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                  <button
                    type="submit"
                    class="
                      inline-flex
                      justify-center
                      py-2
                      px-4
                      border border-transparent
                      shadow-sm
                      text-sm
                      font-medium
                      rounded-md
                      text-white
                      bg-indigo-600
                      hover:bg-indigo-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-indigo-500
                    "
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userService from "./user.service";
import { required, minLength } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import Dropdown from "@/components/Dropdown.vue";

export default {
  components: {
    Dropdown,
  },
  data() {
    return {
      userModel: {
        name: "",
        logonId: "",
        password: "",
        role: "",
        isActive: 1,
        userSkills: [],
      },
    };
  },
  mixins: [validationMixin],
  validations: {
    userModel: {
      name: {
        required,
      },
      logonId: {
        required,
      },
      password: {
        required,
        minLength: minLength(6),
      },
    },
  },
  computed: {
    authToken() {
      return this.$cookies.get("user-tekege").authToken;
    },
  },
  methods: {
    initUserDetail() {
      return {
        userModel: {
          name: "",
          logonId: "",
          password: "",
          role: "normal",
          isActive: 1,
          userSkills: [],
        },
      };
    },
    createNewUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        userService
          .createUser(this.userModel, this.authToken)
          .then((response) => {
            console.log(response);
            this.$data.userModel = {};
            this.$toasted.success("Users created successfully.", {
              duration: 1000,
              position: "top-center",
              theme: "bubble",
            });
            this.$router.push("/users");
            this.$v.$reset();
          })
          .catch((error) => {
            const errorMessage = error.response.data.message;
            this.$toasted.show(errorMessage, {
              type: "error",
              duration: 1000,
              position: "top-center",
              theme: "bubble",
            });
          });
      }
    },
    cancelForm() {
      this.$router.push({ path: "/users" });
    },
  },
};
</script>