<template>
  <div class="container mx-auto">
    <div class="grid gap-4 my-6 mx-4">
      <div class="text-right mx-4">
        <router-link
          to="/users/new"
          class="
            inline-flex
            justify-center
            mx-2
            mt-2
            py-2
            px-4
            border border-transparent
            shadow-sm
            text-sm
            font-medium
            rounded-md
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
          "
        >
          New User
        </router-link>
      </div>

      <div class="flex flex-col mt-4 px-4">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
          >
            <VueTableGrid
              :dataColumn="userListHeaderName"
              :dataList="getUserData"
            ></VueTableGrid>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userService from "./user.service";
import VueTableGrid from "@/components/VueTableGrid.vue";

export default {
  name: "UserList",
  components: {
    VueTableGrid,
  },
  data() {
    return {
      userListHeaderName: [
        {
          label: "Name",
          field: "name",
        },
        {
          label: "Email",
          field: "logonId",
        },
        {
          label: "Role",
          field: "role",
        },
        {
          label: "Skills",
          field: this.renderSkills,
        },
      ],
      getUserData: [],
    };
  },
  computed: {
    authToken() {
      return this.$cookies.get("user-tekege").authToken;
    },
  },
  created() {
    this.getUserList();
  },
  methods: {
    renderSkills(rowData) {
      if (rowData.userSkills && rowData.userSkills.length) {
        const userSkillsName = rowData.userSkills.map((item) => {
          return item.skillName;
        });
        let text = "";
        userSkillsName.forEach((item) => {
          text += item + ",";
        });
        return text;
      }
      return null;
    },
    getUserList() {
      userService
        .getUserList(this.authToken)
        .then((dataResult) => {
          if (dataResult && dataResult.length) {
            this.$data.getUserData = dataResult;
          }
        })
        .catch((error) => {
          const errorMessage = error.response.data.message;
          this.$toasted.show(errorMessage, {
            type: "error",
            duration: 1000,
            position: "top-center",
            theme: "bubble",
          });
        });
    },
  },
};
</script>