<template>
  <div class="container mx-auto">
    <div class="grid gap-4 mx-4 my-4">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="flex flex-col">
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              User Details
            </h3>
            <!-- <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p> -->
          </div>
          <div class="self-end my-3">
            <button
              type="button"
              class="
                inline-flex
                justify-center
                mx-2
                mt-2
                py-2
                px-4
                border border-transparent
                shadow-sm
                text-sm
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
              @click="updateUser"
            >
              Update
            </button>
          </div>
        </div>

        <div class="border-t border-gray-200">
          <dl>
            <div
              class="
                bg-gray-50
                px-4
                py-5
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ userData.name }}
              </dd>
            </div>
            <div
              class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
            >
              <dt class="text-sm font-medium text-gray-500">Email</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ userData.logonId }}
              </dd>
            </div>
            <div
              class="
                bg-gray-50
                px-4
                py-5
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Role</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ userData.role }}
              </dd>
            </div>
            <div
              class="
                bg-gray-50
                px-4
                py-5
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Password</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input
                  type="password"
                  name="password"
                  v-model="userData.password"
                  id="password"
                  autocomplete="password"
                  class="
                    mt-1
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    shadow-sm
                    sm:text-sm
                    border-gray-300
                    rounded-md
                  "
                />
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="bg-white">
        <!-- <div class="mt-10 sm:mt-0"> -->
        <vue-good-table
          ref="skill-table"
          :columns="skillColumns"
          :rows="userSkillList"
          :select-options="{ enabled: true }"
          :search-options="{ enabled: true }"
        >
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
import skillService from "@/pages/skills/skill.service";
import userService from "./user.service";

export default {
  components: {},
  name: "UserDetails",
  data() {
    return {
      skillList: [],
      userSkillList: [],
      userData: {},
      skillColumns: [
        {
          label: "Skill Name",
          field: "name",
        },
        {
          label: "Description",
          field: "description",
        },
      ],
    };
  },
  async created() {
    this.$data.skillList = await this.getSkills();
    this.getUserDetails();
  },
  computed: {
    authToken() {
      return this.$cookies.get("user-tekege").authToken;
    },
  },
  methods: {
    getUserDetails() {
      const { id: userId } = this.$route.params;
      userService.getUserDetail(userId, this.authToken).then((dataResult) => {
        this.setUserData(dataResult);
      });
    },
    setUserData(dataResult) {
      this.userData = dataResult;
      const { skillList } = this.$data;
      if (
        dataResult &&
        dataResult.userSkills &&
        dataResult.userSkills.length > 0
      ) {
        this.$data.userSkillList = skillList.map((skill) => {
          const isSkillMatched = dataResult.userSkills.find(
            (uSkill) => uSkill.id === skill.id
          );
          if (isSkillMatched) {
            skill.vgtSelected = true;
          }
          return skill;
        });
      } else {
        this.$data.userSkillList = this.skillList;
      }
    },
    getSkills() {
      return skillService.getSkills(this.authToken);
    },
    updateUser() {
      const { userData } = this.$data;

      if (!userData.password) {
        this.$toasted.info("Please enter password", {
          duration: 1000,
          position: "top-center",
          theme: "bubble",
        });
        return;
      }

      if (
        this.$refs["skill-table"].selectedRows &&
        this.$refs["skill-table"].selectedRows.length
      ) {
        userData.userSkills = this.$refs["skill-table"].selectedRows.map(
          (rowItem) => {
            return rowItem.id;
          }
        );
      } else {
        userData.userSkills = [];
      }
      return userService
        .updateUsers(userData, this.authToken)
        .then((dataResult) => {
          if (dataResult) {
            this.setUserData(dataResult);
            this.$toasted.success("User details updated successfully.", {
              duration: 1000,
              position: "top-center",
              theme: "bubble",
            });
          }
        })
        .catch((error) => {
          const errorMessage = error.response.data.message;
          this.$toasted.show(errorMessage, {
            type: "error",
            duration: 1000,
            position: "top-center",
          });
        });
    },
  },
};
</script>