<template>
  <div>
    <vue-good-table
      ref="skill-table"
      :columns="dataColumn"
      :rows="dataList"
      :search-options="{ enabled: true }"
      :pagination-options="{
        enabled: true,
      }"
      @on-row-click="onRowClick"
    >
      <!-- :select-options="selectionColumn ? selectionColumn : null" -->
    </vue-good-table>
  </div>
</template>

<script>
export default {
  name: "VueTableGrid",
  props: {
    dataList: [],
    dataColumn: [
      {
        label: "",
        field: "",
      },
    ],
    // selectionColumn: {
    //   enabled: true,
    // },
  },
  data() {
    return {};
  },
  methods: {
    onRowClick(params) {
      window.location = `/users/${params.row.id}`;
    },
  },
};
</script>