<template>
  <div class="container mx-auto">
    <div class="px-6 py-3 bg-gray-50 sm:px-20">
      User and posts
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="flex flex-col"></div>
        <div class="border-t border-gray-200">
          <dl>
            <div
              class="
                bg-gray-50
                px-4
                py-5
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ userData.name }}
              </dd>
            </div>
            <div
              class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
            >
              <dt class="text-sm font-medium text-gray-500">Email</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ userData.email }}
              </dd>
            </div>
            <div
              class="
                bg-gray-50
                px-4
                py-5
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Address</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <!-- {{ userData.address.city }}, {{ userData.address.street }},
                {{ userData.address.suite }}, {{ userData.address.zipcode }} -->
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="py-4">
        <VueTableGrid
          :dataColumn="getPostsColumnData"
          :dataList="getPostsData"
        ></VueTableGrid>
      </div>
    </div>
  </div>
</template>


<script>
import VueTableGrid from "@/components/VueTableGrid.vue";
import getUsersService from "./feature1.service";

export default {
  name: "Feature1",
  components: {
    VueTableGrid,
  },
  data() {
    return {
      userData: {},
      getPostsData: [],
      renderId: [1],
      getPostsColumnData: [
        {
          label: "UserID",
          field: "userId",
        },
        {
          label: "Name",
          field: this.renderName,
        },
        {
          label: "Title",
          field: "title",
        },
        {
          label: "Body",
          field: "body",
        },
      ],
    };
  },
  created() {
    // posts for userId 1 & 2
    this.getPosts1();

    // this.execute();
    // this.getUsersFunc();
    // this.getPostsFunc();
  },
  methods: {
    renderName() {
      // console.log( this.userData);
      return this.userData.name;
    },

    getPosts1() {
      getUsersService.getPostsUser1().then((res) => {
        this.getPostsData = res;
        this.getPosts2();
      });
    },
    getPosts2() {
      getUsersService.getPostsUser2().then((res) => {
        this.getPostsData = [...this.getPostsData, ...res];
      });
    },

    // getPosts() {
    //   console.log("getPosts called");
    //   // console.log(`getPostsFunc timer => ${new Date()}`);
    //   const idVal = [2];
    //   const id = [...this.renderId, ...idVal];
    //   console.log(id);
    //   // if(id==1 && id==2){
    //   //   this.getPostsData = res;
    //   // }
    //   getUsersService.getPosts(this.renderId).then((res) => {
    //     console.log(res);
    //     this.getPostsData = res;
    //   });
    // },
    // getUsersFunc(timer) {
    //   console.log("getUsers called");
    //   return new Promise((resolve, reject) => {
    //     // setTimeout(() => {
    //     console.log(`getUsersFunc setTimeout timer => ${new Date()}`);
    //     getUsersService.getUsers().then((res) => {
    //       resolve((this.userData = res));
    //       reject("some error occured.");
    //     });
    //     // }, timer);
    //   });
    // },
    // getPostsFunc(timer) {
    //   console.log("getPosts called");
    //   // console.log(`getPostsFunc timer => ${new Date()}`);
    //   return new Promise((resolve, reject) => {
    //     setTimeout(() => {
    //       console.log(`getPostsFunc setTimeout timer => ${new Date()}`);
    //       getUsersService.getPosts().then((res) => {
    //         resolve((this.getPostsData = res.data));
    //         reject("some error occured.");
    //       });
    //       // reject("some error occured.");
    //     }, timer);
    //   });
    // },

    // user Id 1, 2,

    // async execute() {
    //   try {
    //     Promise.all([
    //       getUsersService.getUsers(),
    //       getUsersService.getPosts(),
    //     ]).then((result) => {
    //       // console.log(result);
    //       this.userData = result[0];
    //       this.getPostsData = result[1];

    //       console.log("try result", result);
    //       console.log(`promisall timer => ${new Date()}`);
    //     });
    //   } catch (error) {
    //     console.log("error", error);
    //   }
    // },
  },
};
</script>