<template>
  <div class="container mx-auto">
    <div class="mt-8 mx-6">
      <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900">
                Skill Information
              </h3>
            </div>
            <button
              type="button"
              class="
                inline-flex
                justify-center
                mt-2
                py-2
                px-4
                border border-transparent
                shadow-sm
                text-sm
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
              @click="cancelForm()"
            >
              Back To Skill List
            </button>

            <form @submit.prevent="createNewSkill()">
              <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-9 sm:col-span-9">
                      <label
                        for="skill-name"
                        class="block text-sm font-medium text-gray-700"
                        >Name</label
                      >
                      <input
                        type="text"
                        name="name"
                        v-model="skillModel.name"
                        id="skill-name"
                        autocomplete="given-name"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                      <p
                        class="text-red-500"
                        v-if="
                          $v.skillModel.name.$dirty &&
                          !$v.skillModel.name.required
                        "
                      >
                        This field is required
                      </p>
                    </div>

                    <div class="col-span-9 sm:col-span-9">
                      <label
                        for="skill-description"
                        class="block text-sm font-medium text-gray-700"
                        >Description</label
                      >
                      <input
                        type="text"
                        name="description"
                        v-model="skillModel.description"
                        id="skill-description"
                        autocomplete="family-name"
                        class="
                          mt-1
                          focus:ring-indigo-500 focus:border-indigo-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                      <p
                        class="text-red-500"
                        v-if="
                          $v.skillModel.description.$dirty &&
                          !$v.skillModel.description.required
                        "
                      >
                        This field is required
                      </p>
                    </div>
                  </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                  <!--  -->

                  <button
                    type="submit"
                    class="
                      inline-flex
                      justify-center
                      py-2
                      px-4
                      border border-transparent
                      shadow-sm
                      text-sm
                      font-medium
                      rounded-md
                      text-white
                      bg-indigo-600
                      hover:bg-indigo-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-indigo-500
                    "
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import skillService from "./skill.service";
import { required } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  data() {
    return {
      skillModel: this.initSkillModel(),
    };
  },
  mixins: [validationMixin],
  validations: {
    skillModel: {
      name: {
        required,
      },
      description: {
        required,
      },
    },
  },
  computed: {
    authToken() {
      return this.$cookies.get("user-tekege").authToken;
    },
  },
  methods: {
    initSkillModel() {
      return {
        name: "",
        description: "",
      };
    },
    createNewSkill() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        skillService
          .createSkill(this.skillModel, this.authToken)
          .then((dataResult) => {
            console.log(dataResult);
            this.$data.skillModel = this.initSkillModel();
            this.$toasted.success("Skills created successfully.", {
              duration: 1000,
              position: "top-center",
              theme: "bubble",
            });
            this.$router.push("/skills");
            this.$v.$reset();
          })
          .catch((error) => {
            const errorMessage = error.response.data.message;
            this.$toasted.show(errorMessage, {
              type: "error",
              duration: 1000,
              position: "top-center",
              theme: "bubble",
            });
          });
      }
    },
    cancelForm() {
      this.$router.push({ path: "/skills" });
    },
  },
};
</script>