<template>
  <div class="container mx-auto">
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <router-link
        to="/skills/new"
        class="
          inline-flex
          justify-center
          py-2
          px-4
          border border-transparent
          shadow-sm
          text-sm
          font-medium
          rounded-md
          text-white
          bg-indigo-600
          hover:bg-indigo-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-indigo-500
        "
      >
        Add New Skills
      </router-link>
    </div>
    <div class="flex flex-col mt-4 px-4">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <VueTableGrid
            :dataColumn="skillListHeaderName"
            :dataList="getSkillData"
          ></VueTableGrid>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import skillService from "./skill.service";
import VueTableGrid from "@/components/VueTableGrid.vue";

export default {
  name: "SkillList",
  data() {
    return {
      getSkillData: [],
      skillListHeaderName: [
        {
          label: "Name",
          field: "name",
        },
        {
          label: "Description",
          field: "description",
        },
      ],
    };
  },
  components: {
    VueTableGrid,
  },
  created() {
    this.getSkills();
  },
  computed: {
    authToken() {
      return this.$cookies.get("user-tekege").authToken;
    },
  },
  methods: {
    getSkills() {
      skillService.getSkills(this.authToken).then((dataResult) => {
        this.$data.getSkillData = dataResult;
      });
    },
  },
};
</script>

<style>
</style>